INSTALL_DIR=${HOME}/workspace/authentik
APP_TAG=2026.5.3
PG_PASSWORD=changeme_generate_with_openssl_rand_hex_32
AUTHENTIK_SECRET_KEY=changeme_generate_with_openssl_rand_hex_32
ADMIN_EMAIL=admin@example.com
DOMAIN=auth.example.com
EXPOSE_PORT=9000
