configs:
  unimus@mailrise.xyz:
    urls:
      - tgram://PLACEHOLDER_BOT/PLACEHOLDER_CHATID/
    mailrise:
      title_template: "Message: ${subject} from: ${from}"
      body_template: "${body}"
      body_format: markdown
  ats@mailrise.xyz:
    urls:
      - tgram://PLACEHOLDER_BOT/PLACEHOLDER_CHATID/
    mailrise:
      title_template: "ATS RACK Walter EVENT"
      body_template: "${body}"
      body_format: markdown
  ups@mailrise.xyz:
    urls:
      - tgram://PLACEHOLDER_BOT/PLACEHOLDER_CHATID/
    mailrise:
      title_template: "ATS RACK Residence EVENT"
      body_template: "${body}"
      body_format: markdown
  omada@mailrise.xyz:
    urls:
      - tgram://PLACEHOLDER_BOT/PLACEHOLDER_CHATID/
    mailrise:
      title_template: "OMADA CONTROLLER EVENT"
      body_template: "${body}"
      body_format: markdown

#smtp:
#  auth:
#    basic:
#      username: password
