INSTALL_DIR=${HOME}/workspace/netbird
APP_TAG=0.73.2
NETBIRD_DOMAIN=nb.example.com
TURN_PASSWORD=changeme_generate_with_openssl_rand_hex_32
COTURN_PASSWORD=changeme_generate_with_openssl_rand_hex_32
EXPOSE_PORT=443

# OIDC / Authentik (opzionale)
AUTHENTIK_URL=
OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=
