{
  "Stuns": [
    {
      "Proto": "udp",
      "URI": "stun:NETBIRD_DOMAIN_PLACEHOLDER:3478",
      "Username": "",
      "Password": null
    }
  ],
  "TURNConfig": {
    "Turns": [
      {
        "Proto": "udp",
        "URI": "turn:NETBIRD_DOMAIN_PLACEHOLDER:3478",
        "Username": "self",
        "Password": "TURN_PASSWORD_PLACEHOLDER"
      }
    ],
    "CredentialsTTL": "12h",
    "Secret": "TURN_PASSWORD_PLACEHOLDER",
    "TimeBasedCredentials": false
  },
  "Signal": {
    "Proto": "http",
    "URI": "NETBIRD_DOMAIN_PLACEHOLDER:10000",
    "Username": "",
    "Password": null
  },
  "Datadir": "",
  "HttpConfig": {
    "LetsEncryptDomain": "",
    "CertFile": "",
    "CertKey": "",
    "AuthAudience": "OIDC_CLIENT_ID_PLACEHOLDER",
    "AuthIssuer": "AUTHENTIK_URL_PLACEHOLDER/application/o/netbird/",
    "AuthUserIDClaim": "",
    "AuthKeysLocation": "AUTHENTIK_URL_PLACEHOLDER/application/o/netbird/jwks/",
    "OIDCConfigEndpoint": "AUTHENTIK_URL_PLACEHOLDER/application/o/netbird/.well-known/openid-configuration"
  },
  "IdpManagerConfig": null,
  "DeviceAuthorizationFlow": null,
  "PKCEAuthorizationFlow": {
    "ProviderConfig": {
      "Audience": "OIDC_CLIENT_ID_PLACEHOLDER",
      "ClientID": "OIDC_CLIENT_ID_PLACEHOLDER",
      "ClientSecret": "OIDC_CLIENT_SECRET_PLACEHOLDER",
      "Domain": "",
      "AuthorizationEndpoint": "",
      "TokenEndpoint": "AUTHENTIK_URL_PLACEHOLDER/application/o/token/",
      "JWKSURI": "AUTHENTIK_URL_PLACEHOLDER/application/o/netbird/jwks/",
      "RedirectURLs": ["http://localhost:53000"],
      "UseIDToken": false,
      "Scope": "openid profile email offline_access api"
    }
  }
}
